[submodule "config_dots/matugen"]
	path = config_dots/matugen
	url = https://github.com/daviiiL/matugen.git
	branch = niri
[submodule "config_dots/quickshell"]
	path = config_dots/quickshell
	url = https://github.com/daviiiL/quickshell.git
	branch = niri
[submodule "config_dots/niri"]
	path = config_dots/niri
	url = https://github.com/daviiiL/niri.git
	branch = main
